@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

:root {
  --primary-color: #1a202c;
  --secondary-color: #2d3748;
  --accent-color: #4fd1c5;
  --text-color: #edeeee;
  --text-opacity-color: #a0aec0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  background: var(--primary-color);
  font-family: 'Nunito', sans-serif;
}

.root {
  padding: 50px 100px;
}

.accent-color {
  color: var(--accent-color);
}

/* header styles  */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header img {
  width: 120px;
}

.btn {
  padding: 18px 22px;
  font-size: 22px;
  border-radius: 12px;
  color: var(--text-color);
  background: var(--secondary-color);
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: var(--accent-color);
  color: var(--primary-color);
}

@media (max-width: 800px) {
  .root {
    padding: 50px;
  }

  .header {
    justify-content: center;
  }

  .btn {
    display: none;
  }
}

/* main content */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

.main h1 {
  font-size: 150px;
  line-height: 1;
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
  text-align: center;
}

.main p {
  color: var(--text-color);
  margin-top: 150px;
  font-size: 35px;
  text-align: center;
  padding: 0px 20%;
}

.action-btn {
  margin-top: 150px;
  padding: 20px 30px;
  border-radius: 50px;
  font-size: 30px;
  color: var(--text-color);
  background: var(--accent-color);
  border: none;
  outline: none;
  transition: 0.3s;
  cursor: pointer;
}

.action-btn:hover {
  opacity: 0.5;
}

@media (max-width: 1100px) {
  .main {
    margin-top: 150px;
  }

  .main h1 {
    font-size: 100px;
  }

  .main p {
    padding: 0px 10%;
    font-size: 28px;
  }

  .action-btn {
    font-size: 25px;
  }
}

@media (max-width: 800px) {
  .main {
    margin-top: 100px;
  }

  .main p {
    padding: 0px 5%;
    margin-top: 80px;
  }

  .action-btn {
    font-size: 22px;
    margin-top: 80px;
  }
}

@media (max-width: 632px) {
  .root {
    padding: 50px 20px;
  }

  .main {
    margin-top: 80px;
  }

  .main h1 {
    font-size: 80px;
  }

  .main p {
    padding: 0px 5%;
    font-size: 22px;
  }

  .action-btn {
    font-size: 20px;
  }
}

/* footer section  */

.footer {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer img {
  width: 130px;
}

.footer p {
  margin-top: 20px;
  color: var(--text-opacity-color);
  font-size: 20px;
  text-align: center;
}

/* dialogue */

.dialogue {
  color: var(--text-color);
}

.dialogue h1 {
  font-family: 'Kanit', sans-serif;
}

.dialogue p {
  margin-top: 30px;
}

.dialogue input {
  border: none;
  outline: none;
  background: var(--primary-color);
  border-radius: 15px;
  margin-top: 30px;
  padding: 15px;
  color: var(--text-opacity-color);
  width: 100%;
  font-size: 18px;
}

.dialogue button {
  margin-top: 10px;
  padding: 12px;
  width: 100%;
  border-radius: 15px;
  border: none;
  outline: none;
  font-size: 18px;
  background: var(--accent-color);
  color: var(--text-color);
  cursor: pointer;
  transition: 0.3s;
}

.dialogue button:hover {
  opacity: 0.5;
}
