@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

:root {
  --primary-color: #1a202c;
  --secondary-color: #2d3748;
  --accent-color: #4fd1c5;
  --text-color: #edeeee;
  --text-opacity-color: #a0aec0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  background: var(--primary-color);
  font-family: 'Nunito', sans-serif;
}
